* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  position   : relative;
  padding: 180px 0 100px 0;
  color: white;
  text-align: center;
}

@keyframes bgAnime {
  0% { opacity: 0; }
  5% { opacity: 1; }
 25% { opacity: 1; }
 30% { opacity: 0; }
100% { opacity: 0; }
}

.top-wrapper .bgImg {
  position   : absolute;
  top        : 0;
  left       : 0;
  bottom     : 0;
  right      : 0;
  opacity    : 0;
  animation  : bgAnime 20s infinite;   /* 4画像 × 各5s = 20s */
}

.top-wrapper .src1 {
  background: url(top4.png); 
  background-size: cover;
}
.top-wrapper .src2 {
  background-image : url(top1.png);   /* 背景の画像を指定 */
  animation-delay  : 5s;
  background-size: cover;
}
.top-wrapper .src3 {
  background-image : url(top2.png);   /* 背景の画像を指定 */
  animation-delay  : 10s;
  background-size: cover;
}
.top-wrapper .src4 {
  background-image : url(top3.png);   /* 背景の画像を指定 */
  animation-delay  : 15s;
  background-size: cover;
}


.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  font-family: "Garamond" ;
  font-weight: normal;
}

.top-wrapper p {
  opacity: 0.7;
  font-size: 16px;
  margin-bottom: 40px;
}

.btn-wrapper {
  text-align: center;
}

.btn-wrapper p {
  margin-bottom: 20px;
}

.instagram {
  background-color: #CF2E92;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 0.9;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34,49,52,0.9);
  position: fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 160px;
  margin-top: 20px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255,255,255,0.3);
}

.service-wrapper {
  height: 1160px;
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.repeat-margin{
  height: 50px;
  border-bottom: 2px solid #dee7ec;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.service {
  float: left;
  width: 25%;
}

.service-icon {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 200px; 
  height: 200px;
  border-radius: 100px;
}

.no1{
  background: linear-gradient(to right, rgb(132, 208, 169), rgb(4, 173, 170)); 
} 

.no2{
  background: linear-gradient(to right,rgb(237, 205, 95), rgb(232, 182, 64)); 
}

.no3{
  background: linear-gradient(to right, rgb(238, 177, 162), rgb(201, 97, 101));
}

.no4{
  background: linear-gradient(to right, rgb(181, 206, 235), rgb(99, 141, 215));
}rgb(107, 157, 218)

.media1 {
  text-align: center;
}

.service-icon p {
  position: absolute;

  top: 37%;
  width: 100%;
  color: white;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 5px 15px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0px 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.clear {
  clear: left;
}

@media all and (max-width: 1000px) {
  .service {
    width: 50%;
    margin-bottom: 50px;
  }

  .service-wrapper {
    height: 1780px;
  }

  footer {
    text-align: center;
  }
}

@media all and (max-width: 750px) {
  .top-wrapper h1 {
    font-size: 32px;
  }

  .heading h2 {
    font-size: 20px;
  }
}

@media all and (max-width: 670px) {
  .header-right {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .top-wrapper .btn {
    width: 100%;
  }

  .twitter {
    margin-top: 10px;
  }

  .top-wrapper {
    text-align: left;
  }

  .top-wrapper h1 {
    font-size: 24px;
  }

  .top-wrapper p {
    font-size: 14px;
  }

  .service {
    width: 100%;
  }

  .service-wrapper {
    height: 3000px;
  }

  .message-wrapper .btn {
    width: 100%;
  }
}
